<div class="row">
  <div class="twelve columns top-header">
    <h1>Gilmore Girls and Space</h1>
  </div>
</div>
<div class="row">
   <div class="one column left-side">
    <%=erb :'_header'%>
   </div>
   <div class="eleven columns">
     <div id="picture"></div>
   </div>
</div>
