<div class="row">
   <div class="one column">
    login buttons
   </div>
   <div class="eleven columns">
     <div id="info">
     </div>
     <p>
       <img src ="http://i.imgur.com/k0kEQc4.jpg" class="space">
     </p>
   </div>
 </div>
