<div class="row">
   <div class="one column">
    <%=erb :'_header'%>
   </div>

   <div class="eleven columns">
     <div id="picture">
       <img src="<%=@nasa_info[url]%>">
     </div>
</div>
   </div>
 </div>
