<form class="new-quote" action="/quotes" method="POST">
<br><select name="new-quote[name]">
      <option value="Lorelai">Lorelai</option>
      <option value="Rory">Rory</option>
      <option value="Michele">Michele</option>
      <option value="Luke">Luke</option>
      <option value="Emily">Emily</option>
<br><textarea name="new-quote[quote]" placeholder="Quote:"></textarea>
<br><input type="submit" value="Submit">
</form>
