.text{
  color: white;
}

#picture{
  width: 685px;
  height: 500px;
  padding: 25px;
  margin: 25px;
  background-image: url("");
  position: relative;

}

#info{
  vertical-align: middle;
  text-align: center;
  margin-top: 100px;
  border: 4px solid white;
  display: inline-block;
}

.front-page{
  margin:50px;
}

.title{
  text-align: center;
  margin: 100px;
}
