<form action="/users" method="POST">
<br><input type="text" name="user[username]" placeholder="Username:">
<br><input type="password" name="user[password]" placeholder="Password:">
<br><input type="submit" value="Register">
</form>
