<div class="where-you-lead">
  <img src="whereyoulead.png">
  <hr>
</div>
<div class="row front-page">
  <div class="six columns login-form">
    <button class="forms">Login</button>
  </div>
  <div class="six columns register-form">
    <button class="forms">Register</button>
  </div>
</div>
