<div class="where-you-lead">
  <img src="whereyoulead.png">
  <hr>
</div>
<div class="row front-page">
  <div class="six columns login-form">
    <button class="add-login">Login</button>
  </div>
  <div class="six columns register-form">
    <button class="add-register">Register</button>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <a class="logo" href="/quotes"><img src="coffee.png"></a>
  </div>
</div
